.custom-scroll::-webkit-scrollbar {
  width: 10px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgb(244, 244, 244);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

code {
  display: inline;
  font-family: monospace;
  overflow-wrap: break-word;
  background: rgb(88, 88, 88);
  border-radius: 3px;
  padding: 1px 3px;
}

/* React Draft WYSIWYG Styles */
/* You need to add !important at some places inorder to override the default styles */

.wrapper {
  border: 2px solid #E2E8F0;
  border-radius: 10px;
  width: 100%;
  margin-right: 5px;
}

.editor {
  padding: 10px;
  max-height: 135px;
  overflow-y: auto;
}

@media (max-width: 510px) {
  .editor {
    min-height: 50px;
  }
}

.public-DraftStyleDefault-block {
  margin: 0 !important;
}

.popup {
  bottom: 35px !important;
  top: auto !important;
  height: 230px !important;
}

.rdw-colorpicker-modal {
  width: 230px !important;
}

.rdw-colorpicker-modal-options {
  overflow: hidden !important;
}

a {
  color: rgb(0, 119, 255) !important;
  text-decoration: underline !important;
}

.rdw-suggestion-dropdown {
  position: revert !important;
  border-radius: 5px;
  background: #222529 !important;
  max-width: 120px;
  color: whitesmoke;
  font-weight: bold;
}

.wysiwyg-hashtag {
  background-color: #80daf8;
  padding: 2px;
  border-radius: 2px;
}

.wysiwyg-mention {
  background-color: #80daf8;
  padding: 2px;
  border-radius: 2px;
}