.custom-scroll::-webkit-scrollbar {
  width: 10px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgb(244, 244, 244);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

p,
ul,
li,
code {
  display: inline;
  padding: 0;
}

a {
  color: rgb(0, 119, 255) !important;
  text-decoration: underline !important;
}

code {
  font-family: monospace;
  overflow-wrap: break-word;
  background: rgb(88, 88, 88);
  border-radius: 3px;
  padding: 1px 3px;
}
